.journal-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 2px 0px, rgba(0, 0, 0, 0.25) 0px 0px 2px 0px;
  padding: 10px;
  height: 215px;
}

.light .journal-info-container {
  background: white;
  color: black;
}

.dark .journal-info-container {
  background: grey;
  color: white;
}

.journal-info-header {
  margin-top: 0px;
  margin-bottom: 10px;
  max-height: 40px;
  min-width: 100%;
}