.journal-entry-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 2px 0px, rgba(0, 0, 0, 0.25) 0px 0px 2px 0px;
  padding: 10px;
  width: 20vw;
  min-height: 215px;
  margin-bottom: 10px;
}

.light .journal-entry-form {
  background: white;
  color: black;
}

.dark .journal-entry-form  {
  background: grey;
  color: white;
}

.journal-entry-header {
  margin-top: 0px;
  margin-bottom: 10px;
  max-height: 40px;
  min-width: 100%;
}

.radio-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
}

.journal-entry-form-submit {
  margin-top: 5px;
  padding: 5px;
  border-radius: 2px;
  border-style: none;
  border-color: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 2px 0px, rgba(0, 0, 0, 0.25) 0px 0px 2px 0px;
  background: #eeeeee;
}

@media only screen and (max-width: 768px) {
  .journal-entry-form {
    min-width: 100%;
  }
  .radio-container {
    width: 80%;
  }
  .journal-entry-note {
    width: 80%;
  }
}