.journal-entry-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.637);
  background: white;
  color: black;
  padding: 10px;
}

.note {
  height: 100px;
}