.heatmap-container {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 2px 0px, rgba(0, 0, 0, 0.25) 0px 0px 2px 0px;
  max-height: 225px;
  margin-bottom: 10px;
}


.light .heatmap-container {
  background: white;
  color: black;
}

.dark .heatmap-container {
  background: grey;
  color: white;
}

.heatmap-header {
  margin-top: 0px;
  margin-bottom: 0px;
  max-height: 40px;
  min-width: 100%;
}
 
.heatmap-wrapper {
  display: flex;
  align-items: center;
  width: 50%;
  margin-top: 25px;
} 

.react-calendar-heatmap {
  width: 80%;
}

.react-calendar-heatmap .color-scale--2 { fill: #50005e; }
.react-calendar-heatmap .color-scale--1 { fill: #3b4199; }
.react-calendar-heatmap .color-scale-0 { fill: #ddcdbe; }
.react-calendar-heatmap .color-scale-1 { fill: #8fff63; }
.react-calendar-heatmap .color-scale-2 { fill: #efff63; }


@media only screen and (max-width: 768px) {
  .heatmap-container {
    min-height: 200px;
  }
  .heatmap-wrapper {
    width: 100%;
  }
  .react-calendar-heatmap {
    width: 100%;
  }
}