.journal-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 80%;
  height: 70vh;
}

@media only screen and (max-width: 768px) {
  .journal-container {
    flex-flow: column;
  }
}