.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;
  padding: 10px;
  background: rgb(47,183,203);
  background: linear-gradient(90deg, rgba(47,183,203,1) 25%, rgba(114,255,77,1) 50%, rgba(233,244,110,1) 75%);
  color: white;
}