#app-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  min-width: 100vw;
}

.light {
  background: #eeeeee;
  color: black;
}

.dark {
  background: #5b5b5b;
  color: white;
}
